<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :building_age %>
    <%= form.text_field :building_age %>
  </div>

  <div class="field">
    <%= form.label :note %>
    <%= form.text_area :note %>
  </div>

  <!-- 最寄り駅 -->
  <%= form.fields_for :closest_stations do |closest_station| %>
    <p>最寄り駅<%= closest_station.index + 1 %></p>
    <div class="field">
      <%= closest_station.label :line %>
      <%= closest_station.text_field :line %>
    </div>

    <div class="field">
      <%= closest_station.label :station %>
      <%= closest_station.text_field :station %>
    </div>

    <div class="field">
      <%= closest_station.label :walking_time %>
      <%= closest_station.text_field :walking_time %>
    </div>
  <% end %>

  <!-- 登録ボタン -->
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
